---
extends:
  # We're manually approximating `configurations/walmart/es5-node`.
  - "./rules/eslint/best-practices/walmart.js"
  - "./rules/eslint/errors/walmart.js"
  - "./rules/eslint/es6/off.js"
  - "./rules/eslint/node/off.js"
  - "./rules/eslint/strict/walmart.js"
  - "./rules/eslint/style/walmart.js"
  - "./rules/eslint/variables/walmart.js"
  - "./rules/filenames/walmart.js"
  - "./rules/eslint/node/walmart.js"

rules:
  "strict": [2, "global"]
